.title {
  text-align: center;
  color: azure;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.listItem {
  padding: 10px;
  text-align: center;
}

.listNumber {
  display: inline-block;
  background-color: cadetblue;
  width: 50px;
  padding: 5px 0;
  text-align: center;
  color: aliceblue;
  border-radius: 4px;
}

.listText {
  color: aliceblue;
  display: inline-block;
  margin: 0 5px;
  max-width: 70%;
  overflow: hidden;
  padding: 5px 0;
  text-decoration-line: none;
  text-overflow: ellipsis;
  text-transform: capitalize;
  vertical-align: bottom;
  white-space: nowrap;
  width: 600px;
}

.button {
  cursor: pointer;
  padding: 5px;
  margin: 0 3px;
}

.actions {
  display: inline-block;
}

@media (max-width: 600px) {
  .listItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid white;
    padding: 20px;
  }

  .button {
    padding: 8px;
  }
}
